extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    link(rel="stylesheet", type="text/css", href="/assets/TimeCircles.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/admiral.png", alt="logo")
    .navlink#logout-btn
      a(href="/logout") Log out
  section#shipyard
    h2#welcome Welcome Admiral #{username}!
    ul#resources
      li Credits
        p#credits #{credits}
      li Metal
        p#metal #{metal}
      li Crystal
        p#crystal #{crystal}
      li War Score
        p#score #{score}
    input#csrf(type="hidden", name="_csrf", value="#{csrfToken}")
    ul#shipList
      li
        img.shipIcon(src="/assets/img/miner.png", alt="shipIcon")
        h2 Miner
        section.cost
            div.mats
              ul
                li
                  p Credits: 50
                li
                  p Metal: 100
                li
                  p Crystal: 10
            div#minerTimer.timer(data-timer="11", name="miner")
        button#buyMiner(name="miner") Build Ship
      li
        img.shipIcon(src="", alt="shipIcon")
        h2 Corvette
        section.cost
            div.mats
              ul
                li
                  p Credits: 200
                li
                  p Metal: 200
                li
                  p Crystal: 50
            div#corvetteTimer.timer(data-timer="16")
        button#buyCorvette(name="corvette") Build Ship
      span#errorMessage
block scripts
        script(src="/assets/builder.js")
        script.
          var miners = "#{miners}";
        script(src="/assets/TimeCircles.js")
