extends ./base.pug
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    link(rel="stylesheet", type="text/css", href="/assets/TimeCircles.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/admiral.png", alt="logo")
    .navlink#logout-btn
      a(href="/logout") Log out
  section#shipyard
    h2#welcome Welcome Admiral #{username}!
    ul#resources
      li Credits
        p#credits #{credits}
      li Metal
        p#metal #{metal}
      li Crystal
        p#crystal #{crystal}
      li War Score
        p#score #{score}
    input#csrf(type="hidden", name="_csrf", value="" + csrfToken)
    ul#shipList
      span#errorMessage
      li
        img.shipIcon(src="/assets/img/miner.png", alt="shipIcon")
        h2 Miner
        section.cost
            div.mats
              ul
                li
                  p Credits: 50
                li
                  p Metal: 100
                li
                  p Crystal: 10
                li
                  p Score: 1
            div#minerTimer.timer(data-timer="6")
        button#buyMiner(name="miner") Build Ship
      li
        img.shipIcon(src="/assets/img/corvette.png", alt="shipIcon")
        h2 Corvette
        section.cost
            div.mats
              ul
                li
                  p Credits: 200
                li
                  p Metal: 200
                li
                  p Crystal: 50
                li
                  p Score: 3
            div#corvetteTimer.timer(data-timer="11")
        button#buyCorvette(name="corvette") Build Ship
      li
        img.shipIcon(src="/assets/img/frigate.png", alt="shipIcon")
        h2 Frigate
        section.cost
            div.mats
              ul
                li
                  p Credits: 350
                li
                  p Metal: 400
                li
                  p Crystal: 100
                li
                  p Score: 10
            div#frigateTimer.timer(data-timer="21")
        button#buyFrigate(name="frigate") Build Ship
      li
        img.shipIcon(src="/assets/img/cruiser.png", alt="shipIcon")
        h2 Cruiser
        section.cost
            div.mats
              ul
                li
                  p Credits: 500
                li
                  p Metal: 650
                li
                  p Crystal: 200
                li
                  p Score: 20
            div#cruiserTimer.timer(data-timer="31")
        button#buyCruiser(name="cruiser") Build Ship
      li
        img.shipIcon(src="/assets/img/battleship.png", alt="shipIcon")
        h2 Battleship
        section.cost
            div.mats
              ul
                li
                  p Credits: 1000
                li
                  p Metal: 1000
                li
                  p Crystal: 400
                li
                  p Score: 50
            div#battleshipTimer.timer(data-timer="60")
        button#buyBattleship(name="battleship") Build Ship
block scripts
        script(src="/assets/builder.js")
        script.
          var miners = "#{miners}";
        script(src="/assets/TimeCircles.js")
